<p>Chào {{email}}. </p>
<p>Chúng tôi nhận được yêu cầu đặt lại mật khẩu tài khoản của bạn trên trang web
  thi thử lý thuyết lái xe. Nếu không phải, hãy bỏ qua tin nhắn này</p>
<p>Mã xác minh của bạn là :
  <span
    style='font-size: 20px; font-weight: 600; color:blue'
  >{{validateNumber}}</span></p>