<p>Chào {{email}}. </p>
<p>Chúng tôi nhận được yêu cầu tạo tài khoản từ email của bạn trên trang web thi
  thử lý thuyết lái xe.</p>
<p>Mã xác minh của bạn là :<span
    style='font-size: 20px; font-weight: 600; color:blue'
  >{{validateNumber}}</span></p>